/* page index */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Links{
    padding: 30px;
    text-align: center;
}

.a-Links{
    margin: 80px;
    text-decoration: none;
    color: #001b4d;
}

.a-Links:hover{
    color: #1a6aff;
    font-size: 18px;
    text-decoration: underline;
}

hr{
    margin: 0 20%;
}

.Container{
    padding: 50px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 20px; 
}

h3{
    margin-top: 70px;
}

.Box{
    background-color: #ccccff9d;
    /* background-color: #f3eac2; */
    border-radius: 8px;
    margin: 50px;
    text-align: center;
    color: black;
    /* color:floralwhite; */
}

.Management{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.Management:hover{
    background-color: #b3b3ff;
}

.Media{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.Media:hover{
    background-color: #b3b3ff;
}

.English{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.English:hover{
    background-color: #b3b3ff;
}

.Teacher{
    height: 300px;
    width: 200px;
    display: inline-block;
}

.Teacher:hover{
    background-color: #b3b3ff;
}
/* / finish page index */

/* start page rules */

.image{
    display: inline;
    float: left;
    padding-top: -15px;
}
.nav-main{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    width:1100px;
    margin-left: 120px;
    text-align: center;
}
.nav-main ul {
list-style-type: none;
}
.navs {
    padding: 85px;
    margin-left: 30px;
    display: inline;
    text-align: center;
}
.navs a{
    color: rgb(92, 88, 88);
text-decoration: none;
font-size: 20px;
font-family: Lobster ;
}
a{
    color:rgb(26, 25, 25);
    text-decoration: none;
}
a:hover{
    color:rgb(150, 88, 88);
}
.div{
    /* background-color: #ccccff9d; */
    background-color: #c7cfb7;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 40px;
    /* margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 40px; */

    color: black;
    text-size-adjust: 100px;
    text-align: center;
    line-height:50px;
text-transform: capitalize;


}
.box-main{
    padding: 0%;
    margin: 0 auto;
    margin-top: 40px;
   height: auto;
   
    width: 1000px;
    display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: space-between;
    justify-content: space-around;
    align-items: baseline;
}
.rules1{
    height: 250px;
    width: 150px;
    padding:10 20% 10 20%;
  
  
}
.rules2{
    height: 250px;
    width: 150px;

}
.rules3{
    height: 250px;
    width: 150px;

 

}
.rules4{
    height: 250px;
    width: 150px;
  
}
.rules5{
    height: 250px;
    width: 150px;

}
.rules6{
    height: 250px;
    width: 150px;

}
.box-main1{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    flex-direction: row;
    align-content: space-between;
    align-content: center;
}
.rules7{
    height: 250px;
    width: 150px;
 
}
.rules8{
    height: 250px;
    width: 150px;

}
.rules9{
    height: 250px;
    width: 150px;

}
.rules10{
    height: 250px;
    width: 150px;
    
}
.rules11{
    height: 250px;
    width: 150px;

}
.rule{
    display:block;
border-radius: 10px;
border-color: rgb(55, 56, 56,50);
border-style: inset;
border-width: 1px;
line-height: 40px;
margin-top: 50px;
margin-left: 150px;
margin-right: 150px;
margin-bottom: 50px;
text-align: right;
font-family:Arial, Helvetica, sans-serif;
font-size: 16px;
background-color: #fcf8e8d5;
text-indent: 50px;
}
.right{
   margin-left:0px ; 
   margin-right: 10px;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   text-indent: 50px;

}
.left{
    margin-right: 30px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.hr1{
    color:darkslategray;
    margin-top: 5px;
}
strong{
    /* color: #252525; */
    font-size: large;
    word-spacing: 5px;
}
strong:first-child{
    color: rgb(128, 6, 6);
}